Dataset
organized_dataset
archive.zip
._Dataset
._archive.zip
tempCodeRunnerFile.py
/__pycache__
cuda_13.0.0_580.65.06_linux.run
simple_cat_dog_model_best.h5
simple_cat_dog_model_best.keras
TrainingLogs/simple_cat_dog_model_training_log.csv
TrainingLogs/simple_cat_dog_model_training_log.csv
